<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
 th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Settings</title>
</head>
<body>

<section>
<h1>Change Your Password</h1>

<div class="container">

<div class="row">

<div class="col-md-12">

<div class="card">

<div class="card-body">

<h3 class="my-3">Change password</h3>

<form th:action="@{/user/change-password}" method="post">

<!-- old password.................. -->

     <div class="form-group">
     
     <input name="oldPassword" type="text" class="form-control" placeholder="enter old password">
   
     </div>
     <div class="form-group">
     
     <input name="newPassword" type="text" class="form-control" placeholder="enter new password">
   
     </div>
     
     
		<div class="container text-center">
		
		<button  type="submit" class="btn btn-success">Change</button>
		<button type="reset" class="btn btn-primary">Reset</button>
		
		</div>
	
</form>

</div>

</div>

</div>

</div>

</div>

</section>
</body>
</html>
